<% provide(:title, "About") %>
<h1>About&nbsp;&nbsp;&nbsp;<i class="fa fa-bolt" id="wbolt"></i> CHIRPLY</h1>
<div class='container'>
  <div class="panel panel-default">
  <div class="panel-body">
    <p>
    Welcome to <span class="title">CHIRPLY</span>! Underneath this <a href="http://sass-lang.com/" target="new">Sass</a>-ified css lies the core of a powerful web application, built with Ruby on Rails and
    developed by <a href="http://www.twitter.com/pedmands/" target="new">Preston Edmands</a>. Its more basic functions mimic those of <a href="http://www.twitter.com" target="new">Twitter</a>; Users with activated accounts 
    (validated by email after signup) can share "microposts" of a maximum 140 characters and up to one 
    image attachment. Users are able to follow/unfollow each other to see real-time updates in their stream, or visit an
    individual's profile to see their posts. The application is able to scale to accomodate a very large user base,
    with account management and data validation handled automatically.
    </p> 
  </div>
  <div class="center panel-footer"><%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-success" %></div>
</div>
  <div class='row'>
    <div class='col-md-4'>
      <div class='center well'>
        
        <div class='infographic'>
          <p>
        <i class="fa fa-database"></i><br />Solid
          </p>
        </div>
        <h4>The SQL database was designed and modeled using has_many/belongs_to and has_many :through associations with rich data validation.</h4>
      </div>
    </div>
    
    <div class='col-md-4'>
      <div class='center well'>
        
        <div class='infographic'>
          <p>
        <i class="fa fa-lock"></i><br />Secure
          </p>
        </div>
        <h4>High-level authentication and authorization, with password and database encryption to prevent cross site scripting and other security vulnerabilities.</h4>
      </div>
    </div>
    
    <div class='col-md-4'>
      <div class='center well'>
        
        <div class='infographic'>
          <p>
        <i class="fa fa-leaf"></i><br />Lightweight
          </p>
        </div>
        <h4>Built on the Model/View/Controller (MVC) standard framework, the application will remain swift and responsive, no matter the request load.</h4>
      </div>
    </div>
    
  </div>
  
<p>The application embodies all the major features of Rails, including, but not limited to: 
<ul>
  <li>Secure: High-level authentication and authorization, with password and database encryption to prevent cross site scripting and other security vulnerabilities.</li>
  <li>Lightweight: Built using the Model/View/Controller (MVC) standard framework, with templates and partials. This means the application will remain swift and responsive, no matter the request load.</li>
  <li>Solid: The SQL database was designed and modeled using has_many/belongs_to and has_many :through associations.</li>
  <li>Tested: All programming was borne out in a Test-Drven Development (TDD) environment, using advanced fixtures and database seeding to ensure scalability.</li>
  <li>Portable: The app was developed and tested on <a href="http://c9.io" target="new">Cloud 9 IDE</a>, and deployed to the production environment through <a href="http://www.heroku.com" target="new">Heroku</a>.</li>
</ul>
</p>

</div>
