@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";


/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* universal */

.jumbotron {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4c4c4c+0,595959+9,666666+19,474747+30,2c2c2c+40,000000+44,111111+50,2b2b2b+63,1c1c1c+81,131313+100;Black+Gloss+%231 */
    background: rgb(76,76,76); /* Old browsers */
    background: -moz-linear-gradient(-45deg,  rgba(76,76,76,1) 0%, rgba(89,89,89,1) 9%, rgba(102,102,102,1) 19%, rgba(71,71,71,1) 30%, rgba(44,44,44,1) 40%, rgba(0,0,0,1) 44%, rgba(17,17,17,1) 50%, rgba(43,43,43,1) 63%, rgba(28,28,28,1) 81%, rgba(19,19,19,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(76,76,76,1)), color-stop(9%,rgba(89,89,89,1)), color-stop(19%,rgba(102,102,102,1)), color-stop(30%,rgba(71,71,71,1)), color-stop(40%,rgba(44,44,44,1)), color-stop(44%,rgba(0,0,0,1)), color-stop(50%,rgba(17,17,17,1)), color-stop(63%,rgba(43,43,43,1)), color-stop(81%,rgba(28,28,28,1)), color-stop(100%,rgba(19,19,19,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  rgba(76,76,76,1) 0%,rgba(89,89,89,1) 9%,rgba(102,102,102,1) 19%,rgba(71,71,71,1) 30%,rgba(44,44,44,1) 40%,rgba(0,0,0,1) 44%,rgba(17,17,17,1) 50%,rgba(43,43,43,1) 63%,rgba(28,28,28,1) 81%,rgba(19,19,19,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  rgba(76,76,76,1) 0%,rgba(89,89,89,1) 9%,rgba(102,102,102,1) 19%,rgba(71,71,71,1) 30%,rgba(44,44,44,1) 40%,rgba(0,0,0,1) 44%,rgba(17,17,17,1) 50%,rgba(43,43,43,1) 63%,rgba(28,28,28,1) 81%,rgba(19,19,19,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  rgba(76,76,76,1) 0%,rgba(89,89,89,1) 9%,rgba(102,102,102,1) 19%,rgba(71,71,71,1) 30%,rgba(44,44,44,1) 40%,rgba(0,0,0,1) 44%,rgba(17,17,17,1) 50%,rgba(43,43,43,1) 63%,rgba(28,28,28,1) 81%,rgba(19,19,19,1) 100%); /* IE10+ */
    background: linear-gradient(135deg,  rgba(76,76,76,1) 0%,rgba(89,89,89,1) 9%,rgba(102,102,102,1) 19%,rgba(71,71,71,1) 30%,rgba(44,44,44,1) 40%,rgba(0,0,0,1) 44%,rgba(17,17,17,1) 50%,rgba(43,43,43,1) 63%,rgba(28,28,28,1) 81%,rgba(19,19,19,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  
  h1{ color:#fff; 
      text-shadow: 5px 5px 3px rgba(0, 0, 0, 1);
      font-family: 'Exo 2';
      font-size: 96px;
  }
}

.screen_shot {
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
}
@media (max-width: 992px) {
.screen_shot {
  width:85%; height:85%;
}
}

.profile {
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}
body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  font-family:  'Exo 2';
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  #wbolt {
      color: yellow; 
      text-shadow: 2px 2px 0px rgba(0, 0, 0, 1);}
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
  
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.panel-heading {
  font-family: 'Exo 2';
}

.title {
  font-family: 'Exo 2';
}
/* logos */

#logo {
  float: left;
  font-family: 'Exo 2';
  font-size: 1.7em;
  text-transform: uppercase;
  color: #cfcfcf;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* navbar */
.navbar {
  .container{
    .navbar-collapse{
      .navbar-right{
        font-family: 'Exo 2';
          a:hover{
    background-color:#000;
  }
      }
    }
  }
}
#bolt {
  color:yellow;
}
/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  clear:both;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  border-right: 1px solid #e8e8e8;
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
  border-radius: 50%;
}

.gravatar_edit {
  margin-top: 15px;
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: #337ab7;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/* microposts */

.microposts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

/* infographics */
.infographic {
  border: 5px solid #c9c9c9;
  border-radius: 20px;
  font-family: 'Exo 2';
  font-size: 20px;
  height: 120px; width: 160px;
  display: inline-block;
  text-align: center;
  color: #c9c9c9;
  background:#000;
  p {
    @include vertical-align;
    .fa {
      font-size:32px;
    }
  }
}
