<footer class="footer">
  <small>
    A Ruby on Rails Sample Application
    by <a href="mailto:pedmands@gmail.com">Preston Edmands</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>